Ej1/out/production/Ej1/practica1ds
Ej2/src/__pycache__
Ej2/pyrightconfig.json
Ej4
Ej5/.pyenv
Ej5/src/__pycache__
Ej1/.idea
Ej1/out/production/Ej1/practica1ds
Ej2/pyrightconfig.json
Ej2/src/__pycache__
Ej2/src/impl/__pycache__
Ej4/.pythonenv
Ej4/pyrightconfig.json
Ej4/.pyvenv
Ej4/ui/__pycache__
Ej4/clases/__pycache__
Ej4/filtros/__pycache__
